@include breakpoint(mobile) {
  html[lang="en-US"] {
    margin-top: 0 !important;
  }
  body.admin-bar {
    padding-top: 46px !important;
  }
  body {
    #site-content {
      padding: 0;
      #page-header {
        padding: 0 15px;
      }
      #breadcrumbs {
        margin-top: 0;
        margin-left: 0;
      }
    }
  }
}
